#education{
  background-color: rgb(33, 37, 41);
}

.education-heading {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
  display: flex !important;
}

.education-heading1 {
  color:  rgb(108, 117, 125);
  opacity: 0.4;
  font-weight: 600;
  font-size: 6rem;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0px;
  width: 100%;
}

.education-paragraph {
 
  line-height: 1.6;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 0;
  width: 100%;
  position: absolute;
  font-family: "Poppins", sans-serif;
  margin-top: 1%;
}

.timeline-container {
  display: flex;
  gap: 10%;
  padding: 5% 9%;

  
}

.education-new-container {
  max-width: 100%;
}

.education-new-container1 {
  max-width: 50%;
  max-height: 50%;
}
.course {
  font-size: 21;
  color: #fff;
  font-weight: 500;
  margin-top: -2px;
}

.education-border {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.25rem;
  border: 1px solid #111418;
  background-color: #111418;
  height: 200px;
  width:100%;

}

.year {
  background-color: #dc3545;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  padding: 2px;

  border-radius: 4px;
  text-align: center;
  width:142px;
}

.school {
  color: #20c997;
}

.year1 {
  background-color: #dc3545;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  display: inline-block;
  padding: 2px;

  border-radius: 4px;
  text-align: center;
  width:142px;
}

.course1 {
  font-size: 21;
  color: #fff;
  font-weight: 500;
  margin-top: -2px;
}

.school1 {
  color: #20c997;
}

.education-heading-new h2 {
  text-align: center;
  color: #fff;
}

.edu-line {
  border-color: #20c997;
  width: 80px;
  border-width: 3px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-bottom: 2px solid #20c997;
}

.decription1 {
  color: rgba(255,255,255,.5);
  
}

.decription{
  color: rgba(255,255,255,.5);
}

.skills-content1 h2{
  color: #fff;

}

.skills-content2 h2{
  color: #fff;
}

@media screen and (max-width: 600px) {
  .timeline-container {
    display: flex;
    flex-wrap: wrap;
  }

  .skills-content-container {
    display: flex;
    flex-wrap: wrap;
  }
}
