body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Nav-bar {
  position: sticky;
  padding: 0;

  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: none;
}

.section {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 0px;
  height: 100vh;
}

.Navbarlist {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  list-style: none;
  background-color: #ffffff;
  text-decoration: none;
  opacity: 0.6;
  height: 1cm;
  align-items: center;
}

.content-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 30px;
}

.navbar-link a {
  text-decoration: none;
}

.home-page {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: grey;
  margin: inherit;
}
