*{
  scroll-behavior: smooth;
  font-family: sans-serif;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  
}

#type-heading{
  font-size:larger;
}

.body-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./C8_Apr21_Mzwandile_Stuurman_2_20.png") no-repeat center center / cover;

}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  color:whitesmoke;
  position:fixed;
  width: 100%;
  z-index: 999;
}

.brand-tittle{
  font-size: 1.5rem;
  margin: 0.5rem;
  width: 50%;
  text-align: left;
}

.navbar-links{
 text-align: center;
 width: 100%;
}

.navbar-links ul{
  margin:0;
  padding:0;
  display: flex;
  

}

.navbar-links li{
  list-style: none;
}

.navbar-links li a{
  text-decoration: none;
  color:whitesmoke;
  padding:1rem;
  display: block;
}

.navbar-links li:hover{
  background-color: #555;
}

.toggle-button{
  position: absolute;
  top:.75rem;
  right:1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width:30px;
  height:21px;
}

.toggle-button .bar{
  height: 3px;
  width:100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 600px){
  .toggle-button{
      display: flex;
  }

  .navbar-links {
      display: none;
      width:100%;
  }

  .navbar{
      flex-direction: column;
      align-items: flex-start;
  }

  .navbar-links ul{
      flex-direction: column;
      width:100%;
  }

  .navbar-links li a{
      padding:0.5rem;
  }

  .navbar-links.active{
      display: flex;
  }



}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

/* type cursor*/
.txt-type > .txt{
  border-right: 0.2rem solid #fff;
}

.home-heading {
  font-weight: 200;
  font-size: 3.5rem;
  color: #fff;
}

.type-color {
  color: #fff;
}
.home-heading2 {
  color: #fff;

  font-size: 2rem;
}

.home-paragraph {
  color: #fff;
  font-weight: 500;
}

.home-a {
  text-decoration: none;
  color: #20c997;
  border-color: #20c997;
  padding: 0.8rem 2.6rem;
  font-weight: 500;
  border-width: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-style: solid;
  border-radius: 50rem;
  margin-top: 3rem;
  
  text-align: center;
}

.home-a:hover {
  background-color: #20c997;
  color: #fff;
  transition-duration: 0.5s;
}

.content3 {
  text-align: center;
  height: 50px;
}



