.portfolio-container {
  display: flex;
  justify-content: space-around;

  margin-bottom: 3rem;
}

.portfolio-heading-container {
  text-align: center;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-heading1 {
  color: #dee3e4;
  opacity: 0.4;
  font-weight: 600;
  font-size: 4.5rem;
  text-transform: uppercase;
  margin-bottom: 0;
  width: 100%;
}

.portfolio-heading2 {
  font-weight: 600;
  line-height: 1.6;
  font-size: 2.5rem;
  color: #343a40;
  margin-bottom: 0;
  width: 100%;
  position: absolute;
  font-family: "Poppins", sans-serif;
  margin-top: 75px;
}

.portfolio-line {
  border-color: #20c997;
  width: 80px;
  border-width: 3px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-bottom: 2px solid #20c997;
}

.card {
  flex: 1 1 150px;
  flex: 0 1 150px;
  margin: 5%;
}

.container img {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  background: #d4e6ee;
  box-shadow: 5px 5px 100px #5a5a5a, -5px -5px 100px #ffffff;
}

.container {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  width: 400px;
  height: 400px;
}

.heading {
  border-radius: 46px;
  background: #e0e0e0;
  box-shadow: 5px 5px 100px #5a5a5a, -5px -5px 100px #ffffff;
  text-transform: uppercase;
}

.p-details {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.lower-heading {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.github {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.live {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.buttons {
  display: flex;
  justify-content: space-around;
}
