
#slider{
  background-color: rgb(33, 37, 41);
  height: 100vh;
}
.slider-heading-container {
  text-align: center;
  margin-bottom: 5rem;
  position: relative;
  display: flex;
}

.slider-heading1 {
  color: #dee3e4;
  opacity: 0.4;
  font-weight: 600;
  font-size: 4.5rem;
  text-transform: uppercase;
  margin-bottom: 0;
  width: 100%;
}

.slider-heading2 {
  font-weight: 600;
  line-height: 1.6;
  font-size: 2.25rem;
  color: #fff;
  margin-bottom: 0;
  width: 100%;
  position: absolute;
  font-family: "Poppins", sans-serif;
  margin-top: 75px;
}

.slide {
  padding: 20px;
  border-radius: 0.25rem;
  background-color: rgb(17, 20, 24);
  
  
}

.slide-content {
  display: flex;
  margin-top: auto;
  margin-bottom: 1.5rem;
  align-items: center;
  padding: 10px;
  
}

#image {
  border-radius: 50%;
  display: block;
  margin-right: 18px;
  object-fit: cover;
  width: 80px;
  height: 80px;
}

.strong {
  font-weight: 600;
  
  display: block;
  color: rgb(255, 255, 255);
}

.p {
  font-weight: 500 !important;
  color: rgba(255,255,255,.5);
 
}

.owl-carousel {
  overflow: hidden;
 
}

.testimonial {
  margin-top: 100px;
}

.heading {
  margin-bottom: 20%;
}

.p2 {
  color: rgb(255, 255, 255);
}

/*.filterDiv {
  float: left;

  color: balck;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none; /* Hidden by default */


/* The "show" class is added to the filtered elements */
/*.show {
  display: block;
}

/* Style the buttons */
/*.btn-s{
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
/*.btn-s:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
/*.btn-s.active {
  background-color: #666;
  color: white;
}
